<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarea 9</title>
</head>
<body>

  <!--Aqui se define el resultado de la busqueda-->
  <div class="fondo">
  <div class="d-flex align-items-center">
    <h1 style="text-align: center; color: rgb(255, 255, 255);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
     Busqueda de peliculas</h1>
  
    <div class="container">
    <div class="BarraB">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Ingrese titulo de pelicula" (keydown.enter)="searchMovies()">
      <button mat-raised-button color="primary" class="Boton" (click)="searchMovies()">Buscar</button>
    </div>
  </div>

    <div *ngIf="movies && movies.length > 0">
        <ul class="Info">
        <li *ngFor="let movie of movies">
          <div class="d-flex align-items-center">
            <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank"><img [src]="movie.image" alt="{{movie.title}}" class="img-movie mr-3"  (load)="onImageLoad(movie)" [ngClass]="{'loaded': movie.loaded}" style="max-width: 100px;"></a>
            <div>
              <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">{{movie.title}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="movies && movies.length === 0">
      <H2 style="color: aliceblue;">Sin resultados</H2>
  </div>

  
<!--Aqui se define el pie de pagina con icono font awesome-->
<mat-toolbar color="primary" class="footer">
  <div class="footer-container">
  <i class="fab fa-angular angular-icon fa-inverse" style="margin-right:50px;"></i>
  <i class="fab fa-github github-icon fa-inverse" style="margin-right:50px;" ></i>
  <i class="fab fa-windows windows-icon fa-inverse" style="margin-right:50px;" ></i>
  <i class="fab fa-html5 html5-icon fa-inverse" style="margin-right:50px;" ></i>
  <i class="fab fa-css3-alt css3-icon fa-inverse" style="margin-right:50px;" ></i>
  <i class="fab fa-js  java-icon fa-inverse" style="margin-right:50px;"></i>
  <i class="fa-regular fa-copyright copyright-icon"> Aaron Hernandez</i>

</div>

</mat-toolbar>

</div>
</div>
</body>
</html>



